<!DOCTYPE html>
<html>
	<head>		
		<title>YelpCamp</title>
		<!-- 	Bootstrap	 -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- 	fontawesome	 -->
		<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
		<!-- 	Google Font	 -->
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" href="/stylesheets/main.css">
	</head>	
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="/"> YelpCamp </a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>

  			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
     				 <li class="nav-item">
       					 <a class="nav-link" href="/campgrounds"> View All </a>
      				</li>
					<li class="nav-item">
       					 <a class="nav-link" href="/campgrounds/new"> Add New </a>
      				</li>
    			</ul>	
	  
   			 <form class="form-inline my-2 my-lg-0">
				 <% if(!currentUser){ %>
					<a class="nav-link" href="/login"> Log in </a>
				 	<a class="nav-link" href="/register"> Sign up </a>
				 <% } else if(currentUser && currentUser.isAdmin){ %>
				 	<li class="nav-link"> Welcome <%= currentUser.username %>! Signed in as Admin</li>
				 	<a class="nav-link" href="/logout"> Logout </a>
				 <% } else{ %>
				 	<li class="nav-link"> Welcome, <%= currentUser.username %>!</li>
				 	<a class="nav-link" href="/logout"> Logout </a>
				 <% } %>
   			 </form>
  			</div>
		</nav>
		
		<div class="container alert">
			<% if(error && error.length >0 ){ %>
				<div class="alert alert-danger" role="alert"> 
					<%= error %>
				</div>	
			<% } %>
			<% if(success && success.length >0 ){ %>
				<div class="alert alert-success" role="alert"> 
					<%= success %>
				</div>	
			<% } %>
		</div>
